html {
    font-size: 14px;
}
body {
    background-size:100%,100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
p {
    font-size:20px;
}

h1 {
    color:purple;
}

card-body, p {
    color:red;
}
card-body, h5 {
    color:green;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dark-mode {
    background-color: black;
}

.articles-container {
    background-color: white;
}

.card {
    background-color: white;
    color: black;
}

.dark-mode .articles-container {
    background-color: #343a40;
}

.dark-mode .card {
    background-color: #495057;
    color: white;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}


.dark-mode .navbar.navbar-expand-sm {
    background-color: black !important;
    color: white !important;
}

.dark-mode .navbar-brand {
    color: white !important;
}

.dark-mode .nav-link.text-dark{
    color: white !important;
}
.fixed-button {
    border: none;
}

.fixed-button:hover {
    background-color: grey;
}